<p>login works!</p>
<div class="container">
    <h2>Login Form</h2>
    <form #loginForm="ngForm" (ngSubmit)="loginUser()">
        <small class="text-danger">{{message}}</small>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" class="form-control" placeholder="Enter email" required pattern="^\w+@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$" #email="ngModel" [(ngModel)]="user.email" [class.is-invalid]="email.invalid && email.touched">
            <small class="text-danger" [class.d-none]="email.valid || email.untouched">Email is required</small>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" class="form-control" placeholder="Enter password" required #password="ngModel" [(ngModel)]="user.password" [class.is-invalid]="password.invalid && password.touched">
            <small class="text-danger" [class.d-none]="password.valid || password.untouched">Password is required</small>
        </div>
        <div class="checkbox">
            <label for=""><input type="checkbox" name="remember">Remember Me</label>
        </div>
        <button [disabled]="loginForm.form.invalid" type="submit" class="btn btn-primary">Login</button>
    </form>
    <small [routerLink]="['/registration']">New user? Register here</small>
</div>